<div class="d-flex justify-content-center">
  <h1 class="type mx-5">Typing Test<span>&nbsp;</span></h1>
</div>

<div class="w-95 h3 m-5" [style.wordBreak]="'break-word'">
  <span *ngFor="let item of data; trackByFn">
    <span class="px-1" [class]="item?.status">
      {{ item.value }}
    </span>
  </span>

  <div class="input-group input-group-lg my-3">
    <input autofocus type="text" class="form-control form-lg" (keyup.space)="onSpace($event)" (keyup.enter)="onSpace($event)" (input)="onInput($event)" placeholder="Typing test 10 fast fingers">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="initData()">Next</button>
    </div>
  </div>
</div>